@charset "utf-8";
/* CSS Document */

/*css til store skærme fx desktop*/

body {
	margin: 1%;
}
aside {
	display: block;
	width: 15.5%;
	background: #CF3033;
}
article {
	width: 50.5%;
}
.banner {
	width: 20%;
}

/*media query indlejret i dette stylesheet*/
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
}